.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: end;
    margin: 0 auto;
    margin-left: 58px;
    margin-right: 58px;
    margin-top: 93px;
    font-size: 18px;
    max-width: 1052px;
}

.header__logo {
    cursor: pointer;
}

.header__logo_image {
    width: 148px;
    height: 105px;
    object-fit: contain;
    object-position: center;
}

.navigation {
    display: flex;
    align-items: center;
}


.navigation__list {
    display: flex;
    font-size: 18px;
    gap: 32px;
}

.navigation__list_pages {
    list-style-type: circle;
}

.navigation__list_pages:first-child {
    list-style-type: none;
}

.navigation__list_pages_link {
    white-space: nowrap;
}

.underscore {
    text-decoration: none;
}

.navigation__info {
    display: flex;
    flex-direction: column;
    max-width: 240px;
    justify-content: center;
    font-size: 18px;
    grid-area: 1/4;
    line-height: 24.3px;
}

.navigation__adress {
    font-style: normal;
}


.cover {
    z-index: 0;
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 92px;
    padding: 162px 49px 48px 49px;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.overlay {
    inset: 0;
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
}

.cover__title {
    width: 100%;
    margin: auto;
    font-family: Raleway, Georgia, 'Times New Roman', Times, sans-serif;
    font-size: 100px;
    font-weight: bold;
    color: #FFF;
    line-height: 115%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-transform: uppercase;
    gap: 18px;
}

.letter-spacing-extended {
    width: 100%;
    letter-spacing: 30px;
}

.move-right{
    width: 100%;
    text-align: right;
}

.letter-spacing-none{
    letter-spacing: 0;
}


.letter-spacing-extended:nth-child(2) {
    text-align: center;
    line-height: 100%;
}

.letter-spacing-extended:nth-child(3) {
    text-align: right;
    line-height: 100%;
}

.cover__title_second-letter {
    margin-left: 0;
    letter-spacing: 60px;
}

.line-interlining {
    line-height: 100%
}



.cover__subtitle {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 131px;
    gap: 68px;
}

.cover__subtitle_text {
    color: #FFF;
    font-size: 22px;
    word-spacing: 20px;
    font-weight: 400;
}

.cover__subtitle_button {
    border: 1px solid #FFF;
    padding: 12px 30px;
    font: inherit;
    color: #FFF;
    background-color: transparent;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 22px;
}


.lots {
    max-width: 1034px;
    margin: 0 auto;
    margin-top: 176px;
}

.lots__title {
    margin-left: 37px;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.lots__container {
    display: flex;
    gap: 25px;
    margin-top: 27px;
    margin-bottom: 32px;
    flex-wrap: wrap;
}

.lots__container_lot {
    background-image: url(../images/card-lot-01.jpg);
    list-style-type: none;

}

.lots__container_lot-link {
    height: 100%;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    text-decoration: none;
}

.lots__container_lot-link_main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-position: center;
    position: relative;
    list-style-type: none;
    max-width: 328px;
    min-height: 600px;
    padding: 50px 40px;
    z-index: 1;
    background-size: cover;
    flex-grow: 1;
}

.lots__container_second-lot {
    background-image: url(../images/card-lot-02.jpg);

}

.lots__container_third-lot {
    background-image: url(../images/card-lot-03.jpg);
}

.lots__container_lot_title {
    color: #FFF;
    font-size: 22px;
    font-weight: 700;
    text-decoration: underline;
    text-transform: uppercase;
    line-height: 120%;
}

.lots__container_lot_text {
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
}

.lots__link {
    font-size: 20px;
    font-weight: 400;
    margin-left: 39px;
    text-decoration: underline;
    cursor: pointer;
}


.about {
    display: flex;
    margin-top: 179px;
}

.about__logo-container {
    display: flex;
    width: 237px;
    height: 237px;
    background-color: #000;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-left: 79px;
    margin-right: 70px;
}

.about__logo_container_pic {
    width: 148px;
    height: 114px;
}

.about__text-container {
    display: flex;
    flex-direction: column;
    max-width: 693px;
    gap: 25px;
    margin-top: 97px;

}

.about__text-container_title {
    margin-bottom: 75px;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.about__text-container_text {
    font-size: 20px;
    font-weight: 400;
}


.footer {
    display: flex;
    justify-content: space-between;
    margin: 182px 58px 89px 58px;
}

.footer__navigation {
    align-items: flex-start;
    text-align: center;
}

.footer__navigation_list {
    flex-direction: column;
    gap: 0;
    list-style-type: none;
}

.footer__list_pages {
    list-style-type: none;
}

.footer__links {
    display: flex;
    gap: 45px;
}

.footer__links_list {
    list-style-type: none;
}

.footer__links__link-pic {
    width: 48px;
    height: 48px;
}